
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      {{ content }}
    </div>

    {% include footer.html %}
    <script type="text/javascript">
      $(".navbar-fixed-top").autoHidingNavbar({
        // see next for specifications
      });
      $(".nav a").on("click", function(){
         $(".nav").find(".active").removeClass("active");
         $(this).parent().addClass("active");
      });
    </script>
  </body>

</html>
